*.patch
.idea/**/*.iml
.idea/**/*.xml
.idea/codeStyles
*.orig
*.rej
*.json
*.db
*.dat
*.txn
*.log
*.csv
*.zip
*.tgz
/vendor/*
/bin
/tmp
/go.sum
keystore
*.out
*.test
ela
ela-cli
ela-dns
cb-client
cb-server
cb-fetcher
