{
  "Configuration": {
    "ActiveNet": "mainnet",
    "ServerPort": 1234,
    "MainNodeRPC": {
	    "IpAddress": "127.0.0.1",
	    "HttpJsonPort": 22336,
	    "User": "username",
	    "Pass": "password"
    }
  }
}
